%p#notice= notice
%h1 Галерея Аметист
.actions
#content
  %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
    %li.active
      %a{"data-toggle" => "tab", :href => "#index_1"} Список Материалов
    %li
      %a{"data-toggle" => "tab", :href => "#index_2"} Склад
    %li
      %a{"data-toggle" => "tab", :href => "#index_3"} Журнал Продаж
  #my-tab-content.tab-content
    #index_1.tab-pane.active
      =render 'index'
    #index_2.tab-pane
      =render 'index_2'
    #index_3.tab-pane
      =render 'index_3' 
    
%br/

-#= button_to "Новая позиция", new_item_path, method: :get, remote: true, class: 'btn btn-default btn-lg', id: 'add_btn'
-#= button_to "Таблица продаж", orders_path, method: :get, class: 'btn btn-default btn-lg', id: "orders_btn"
    

#modal_dialog.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal-header", role: "dialog", tabindex: "-1"}

-#%td{align: "center"}
-#= link_to '<i class="ui-icon ui-icon-search"></i>'.html_safe, item
-#= link_to '<i class="ui-icon ui-icon-gear"></i>'.html_safe, edit_item_path(item)
-#= link_to '<i class="ui-icon ui-icon-trash"></i>'.html_safe, item, method: :delete, data: { confirm: "Delete #{item.title}?" } %>