// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.carts {
  .cart {
    margin-top: 0px;
    padding: 2% 2%;
  table {
    border-top: 2px dotted black;
    overflow: hidden;
    width: 450px;
  }  
  }
	.item_price, .total_line {
		text-align: right;
	}
	.total_line .total_cell {
		font-weight: bold;
		border-top: 1px solid black;
    text-align: right;
	}

    .button_to {
    display: inline;
  }

    .button_to div {
    display: inline;
  }
  a.btn {
    text-align: left;
    border: none;
  }
  form.button_to div input {
    margin-left: 270px;
  }
  .glyphicon-circle-arrow-left {
    margin-left: -10px;
  }
 
}
