// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
dl, div.add_button {
	display: inline-block;
	position: relative;
	}
td.list_description {
	margin-right: 10%;
	margin-left: 10%;
}