// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add_button {
	position: relative;
	bottom: 32px;
	left: 180px;
		}
td.list_description {
	margin-right: 10%;
	margin-left: 10%;
	height: 10px;
}
#add_btn {
  margin-left: 0.5%;
  margin-top: 0.5%;
}

.add_btn dt {
  display: inline;
}
h1 {
  padding-left: 0.5%;
}
ul#tabs.nav.nav-tabs li.active a {
    font-weight: bold;  
}

.show_item {
  padding: 2% 2%;

  h3 {
    width: 350px;
    border-bottom: 2px dotted black;
    padding-bottom: 10px;
  }
  i {
    width: 300px;
  }
  .descr {
    width: 350px;
    height: 100px;
    border: 0.5px solid #D8D8D8;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    overflow-y: auto;
    word-wrap: break-word;
  }
  .btn-lg {
    border: none;
  }
}
