// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.orders {
  .order {
    padding: 2% 2%;
  }
  table.order {
    border-top: 2px dotted black;
    width: 350px;
  }
  .item_price, .total_line {
    text-align: right;
  }
  .total_line .total_cell {
    font-weight: bold;
    border-top: 1px solid black;
    }
  p#sum, h4 {
    display: inline;
  }
  div.order li {
    margin-left: 30px;
  }
}
.new_order {
  padding: 2% 2%;

  h2 {
    width: 360px;
    border-bottom: 2px dotted black;
    padding-bottom: 10px;
  } 

  div.actions input {
    margin-left: 240px;
  }

  #edit_button {
    border: none;
  }
  #edit_button:hover {
    background-color: white;
  }
  span.glyphicon.glyphicon-pencil:hover {
    color: green;
  }

}


